<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Project Management{% endblock %}</title>    
    <link rel="stylesheet" href="{% static 'css/style.css' %}">   
        
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'home_page' %}">Home</a></li>
                <li><a href="{% url 'project_list' %}">Project List</a></li>
                <li><a href="{% url 'project_create' %}">New Project</a></li>               
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        <!-- This is where child templates will inject their content -->
        {% endblock %}
        
    </main>

    <footer>
        <p>&copy; 2025 <a href="https://www.linkedin.com/in/alexander-parshakov/" style="color: white; text-decoration: none;">O.Parshakov</a></p>
       
        <p>Dream it. Build it.</p>
    </footer>

</body>
</html>